body{
    display: grid;
    grid-template-columns: 22% 56% 22%;
    grid-template-rows: 70vh 86vh 6vh;
    grid-template-areas: 
    "A B F"
    "A C F"
    "A D F";
    grid-gap: 5px;
}


div{
    grid-area: A;
    background-image: url(img/Skärmbild\ 2024-11-11\ 084506.png);
    background-repeat: no-repeat;
    background-size: cover;
}
div1{
    grid-area: F;
    background-image: url(img/Skärmbild\ 2024-11-11\ 084506.png);
    background-repeat: no-repeat;
    background-size: cover;
}


headerimg{
grid-area: B;
background-image: url(img/Skärmbild\ 2024-11-11\ 084802.png);
background-repeat: no-repeat;
background-size: cover;
}
header{
    font-style: Karantina;
    background-color: rgba(217, 217, 217, 0.7);
    text-align: center;
    grid-area: B;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
    margin-bottom: 400px;
    padding-top: 10px;
}


receptbody{
    grid-column: 2;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 40% ;
    grid-gap: 27px;
    grid-template-areas: "X Y";
    margin-top: 450px;
}
ingredienser{
    grid-area: X;
    background-color: rgba(20, 195, 201, 0.8);
    border-radius: 5px;
    font-style: Caveat Brush;
    p{
        font-size: 25px;
    }
}
recept{
    grid-area: Y;
    background-color: rgba(20, 195, 201, 0.8);
    border-radius: 5px;
    padding-left: 5px;
    font-style: Caveat Brush;
    p{
        font-size: 20px;
    }
    
}


footer{
    grid-area: D;
    background-color: rgb(140, 140, 140);
    padding-bottom: 10px;
}