body{
    display: grid;
    grid-template-columns: 22% 56% 22%;
    grid-template-rows: 70vh 50vh 3vh;
    grid-template-areas: 
    "A B F"
    "A C F"
    "A D F";
    grid-gap: 5px;
}
div{
    grid-area: A;
    background-image: url(img/Skärmbild\ 2024-11-11\ 084506.png);
    background-repeat: no-repeat;
    background-size: cover;
}
div1{
    grid-area: F;
    background-image: url(img/Skärmbild\ 2024-11-11\ 084506.png);
    background-repeat: no-repeat;
    background-size: cover;
}
headerimg{
grid-area: B;
background-image: url(img/Skärmbild\ 2024-11-11\ 084802.png);
background-repeat: no-repeat;
background-size: cover;
}
header{
    font-family: Karantina;
    background-color: rgba(217, 217, 217, 0.7);
    text-align: center;
    grid-area: B;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
    margin-bottom: 400px;
    padding-top: 10px;

}


mainbody{
    grid-area: B ;

}
